
@model certcentral.web.Account.UserInfo

<h2>user profile: github.com/@Model.Login</h2>

<div class="bs-docs-section">
    <br />
    @if (Model != null)
    {
        <h4>@Model.CertFileNames.Count Certificates registered</h4>
        <ul class="list-group">
            @foreach (var c in Model.CertFileNames)
            {
                <li class="list-group-item  justify-content-between align-items-center">
                    <span class="nav-link warning">
                        <img src="~/png/cert.png" width="30" />
                        <span>@c.Value [@c.Key]</span>

                        <span style="float:right">
                            <a href="/api/cert/getusercert?username=@Model.Login&thumbprint=@c.Key">View</a>
                            |
                            <a href="javascript:deleteCert('@c.Key');">Delete</a>
                        </span>
                    </span>
                </li>
            }
        </ul>
    }

</div>
    <br />

    <div class="alert alert-secondary">
        <h4 class="card-title">Use the next key to authenticate</h4>
        <p class="text-info">ccc login -u @Model.Login  -k @Model.AccessKey</p>
    </div>

    <a href="javascript:unregister();">Unregister</a>
    <script src="~/js/xhr.js"></script>
    <script>
        function showConfirmation(resp) {
            alert("Your account has been deleted.")
            location.href = "/signout";
        }
        function unregister() {
            if (confirm("Are you sure you want to unregister, and delete all your certs?")) {
                Get("/api/cert/unregister/@Model.Login", showConfirmation, '@Model.Login#@Model.AccessKey');
            }
        }

        function showDeleteCertConfirmation(resp) {
            alert("Certificate deleted successfully !!");
            location.reload();
        }
        function deleteCert(t) {
            if (confirm("Do you want to delete the cert:\n" + t + " ?")) {
                Get("/api/cert/deletecert/" + t, showDeleteCertConfirmation, '@Model.Login#@Model.AccessKey');
            }
        }
    </script>

